// Media Queries Break-points
$query_mob: 759px;
$query_tablet: 760px;
$query_medium: 1000px;
$query_laptop: 1240px;
//
:root {
  // Per definition, The below query values, cannot be used in the media query itself (see  https://bourls.com/9rIi4).
  // Regular sass variables need to be used in  media queries.
  // So, in order to define break point only once, first, sass breakpoints are declared at the beginning, and then assigned to a css var. This way the css var can be read in JS.
  --query_mob: #{$query_mob};
  --query_tablet: #{$query_tablet};
  --query_medium: #{$query_medium};
  --query_laptop: #{$query_laptop};
}
// COLORS
:root {
  --white: #FFF;
}



// Media Queries
// usage example for this media queries writing style:
// https://dev.to/paul_duvall/sass-and-media-queries-hb2
//
@mixin respond($breakpoint) {

    // Create breakpoints here
    @if($breakpoint == laptop)  {
      @media (min-width: $query_laptop) { @content }
    }
    @if($breakpoint == intermediate)  {
      @media (min-width: $query_medium) { @content }
    }
    @if($breakpoint == tablet)  {
      @media (min-width: $query_tablet) { @content }
    }
}

// responsive variables definitions
:root{

  @include respond(tablet) {
    --headerObserver: 94px;
  }

  @include respond(intermediate) {
    --headerObserver: 100px;
  }

  @include respond(laptop) {
    --headerObserver: 100px;
  }
}

// Others

@mixin assistiveOnly{
    // Not visible content but **still available** for screen readers
    /* Remove the item from normal flow */
  position: absolute;
  /* Workaround for falsely pronounced, smushed text */
  white-space: nowrap;
  /* Set it to the smallest possible size (some screen readers ignore elements with zero height and width) */
  width: 1px;
  height: 1px;
  /* Hide overflowing content after resizing */
  overflow: hidden;
  /* Reset any property that may change the elements size */
  border: 0;
  padding: 0;
  /* Clipping defines what part of an element should be displayed. */
  /* Deprecated clip property for older browsers */
  clip: rect(0 0 0 0);
  /* clip-path for newer browsers. inset(50%) defines an inset rectangle that makes the content disappear.  */
  clip-path: inset(50%);
    /* It seems like at the moment nobody is quite sure why margin: -1px is there. On top of that it seems to cause issues (see: https://github.com/h5bp/html5-boilerplate/issues/1985). */
  margin: -1px;
}
.assistiveOnly{
  @include assistiveOnly();
}
// Use with items that need to be temp hidden but still avaiblable to assistive technology
@mixin tempHidden{
  left: -999999px;
  opacity: 0;
  position: absolute;
  top: -999999px;
}
.tempHidden{
  @include tempHidden();
}
@mixin tempHidden--restablished{
  left: 0 !important;
  position: relative !important;
  top: 0 !important;
}
.tempHidden--restablished{
  @include tempHidden--restablished();
}

// Fading in of lazyly load images
/* fade image in after load */
.lazyload,
.lazyloading {
  opacity: 0;
}
.lazyloaded {
  opacity: 1;
  transition: opacity 500ms;
}