/*-------------------------------------
    custom css for ACF back end
---------------------------------------*/
#editor .block-editor-editor-skeleton__content .edit-post-meta-boxes-area .postbox{
    margin: 20px 0;
}
#editor .block-editor-editor-skeleton__content .edit-post-meta-boxes-area .postbox h2.hndle {
    background-color: #f1f2fb;
    color: #4d4188 !important;
    font-size: 16px;
}
#editor .block-editor-editor-skeleton__content .edit-post-meta-boxes-area .postbox h2.hndle span::before{
 content:"\02637";
 font-size: 16px;
 margin-right: 10px;
}
#editor .block-editor-editor-skeleton__content .edit-post-meta-boxes-area .postbox .inside.acf-fields > .acf-field >.acf-label > label {
    color: #6c54aa !important;
    min-height: 30px;
    padding: 0px;
}
#editor .block-editor-editor-skeleton__content .edit-post-meta-boxes-area .postbox .inside.acf-fields > .acf-field >.acf-label > label::before {
    content: '\0220E';
    font-size:16px;
    margin-left: 5px;
    margin-right: 15px;
}
#editor .block-editor-editor-skeleton__content .edit-post-meta-boxes-area .postbox .inside.acf-fields .acf-field .acf-label label {
    color:#9b7cb0;
}
.acf-field p.description {
    color: #9f96b7;
    font-style: normal;
    margin-top: 10px;
}
/* The horizontal rows */
.acf-fields.-left > .acf-field{
    padding-top: 20px;
}
.acf-fields.-left > .acf-field::before{
    border-bottom: 1px solid #d5d7e4;
    /* border-right:  1px solid #f6f6ff; */
}
/* SVG ICONS */
.acf-fc-layout-handle .custom-svg-icon{
    height: auto;
    width: 20px !important ;
}
.acf-tooltip .custom-svg-icon{
    height: auto;
    width: 40px;
    stroke: #FFF;
}
/* INPUTS */
.acf-field input[type="text"], .acf-field input[type="password"], .acf-field input[type="date"], .acf-field input[type="datetime"], .acf-field input[type="datetime-local"], .acf-field input[type="email"], .acf-field input[type="month"], .acf-field input[type="number"], .acf-field input[type="search"], .acf-field input[type="tel"], .acf-field input[type="time"], .acf-field input[type="url"], .acf-field input[type="week"], .acf-field textarea, .acf-field select,

    .select2-container--default .select2-selection--single,
    .select2-container--default .select2-search--dropdown .select2-search__field,
    .select2-container--default .select2-selection--multiple{
    border: 0 !important;
    box-shadow: inset 0 0 0 1px #c6d2e1;
}
.acf-field input[type="text"]:focus, .acf-field input[type="password"]:focus, .acf-field input[type="date"]:focus, .acf-field input[type="datetime"]:focus, .acf-field input[type="datetime-local"]:focus, .acf-field input[type="email"]:focus, .acf-field input[type="month"]:focus, .acf-field input[type="number"]:focus, .acf-field input[type="search"]:focus, .acf-field input[type="tel"]:focus, .acf-field input[type="time"]:focus, .acf-field input[type="url"]:focus, .acf-field input[type="week"]:focus, .acf-field textarea:focus, .acf-field select:focus,
    .select2-container--default .select2-selection--single:focus,
    .select2-container--default .select2-search--dropdown .select2-search__field:focus,
    .select2-container--default .select2-selection--multiple:focus{
    box-shadow: inset 0 0 0 1px #4264fb;
}

ul.acf-radio-list li input[type="checkbox"],
ul.acf-radio-list li input[type="radio"],
ul.acf-checkbox-list li input[type="checkbox"],
ul.acf-checkbox-list li input[type="radio"]{
    border:  1px solid #c6d2e1;
    box-shadow: 0 0 1px 1px #a8c2e2;
}
.select2-container.-acf .select2-selection--multiple .select2-selection__choice{
    background-color: #f1f2fb;
    border: 1px solid #4264fb !important;
}